* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0D1337;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 16px 40px;
  border: none;
}

.navbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
}
.navbar_navbar_logo {
  position: relative;
  z-index: 30;
}
.navbar_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_wrapper .navbar_close {
  display: none;
  position: fixed;
  top: 28px;
  right: 24px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 32px;
  line-height: 1;
  cursor: pointer;
  z-index: 25;
}
.navbar_wrapper_lists {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_wrapper_lists li a {
  color: #8e919a;
}
.navbar_wrapper_lists li a_hover {
  color: #fff;
}
.navbar_wrapper .btn_navbar {
  color: #0D1337;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px 18px;
}
.navbar_wrapper--open {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0A0F2C;
  padding-top: 100px;
  font-size: 20px;
  z-index: 10;
}
.navbar_wrapper--open .navbar_close {
  display: block;
  top: 80px;
}
.navbar_wrapper--open .navbar_wrapper_lists {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar_menuIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: white;
  display: none;
  position: relative;
}
@media screen and (max-width: 600px) {
  .navbar_wrapper {
    display: none;
  }
  .navbar_menuIcon {
    display: block;
  }
  .navbar_wrapper--open {
    display: flex !important;
  }
}

.header_title {
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
}
.header_desc {
  text-align: center;
  color: #fff;
}
.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
.header_btn .btn_white {
  padding: 16px 80px;
  cursor: pointer;
}
.header_btn .btn_outline {
  padding: 16px 80px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .header_title {
    font-size: 32px;
  }
  .header_btn .btn_white,
  .header_btn .btn_outline {
    padding: 16px 50px;
  }
}

.hero {
  margin: 50px auto;
}
.hero_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hero_header_left {
  width: 50%;
}
.hero_header_left span {
  color: #ff6f29;
  font-size: 24px;
}
.hero_header_left h3 {
  color: #fff;
  font-size: 42px;
}
.hero_header_desc {
  width: 50%;
  color: #fff;
}
.hero_content {
  display: flex;
  gap: 20px;
}
.hero_content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero_content_wrapper .hero_card {
  padding: 32px;
  border-radius: 15px;
  border: 1px solid #dddddd;
}
.hero_content_wrapper .hero_card h2 {
  color: #fff;
  margin: 30px 0px;
}
.hero_content_wrapper .hero_card p {
  color: #dddddd;
}
.hero_content_wrapper .hero_card .circle {
  width: 50px;
  height: 50px;
  background-color: #ff6f29;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_content_wrapper .hero_card:hover {
  background-color: #fff;
}
.hero_content_wrapper .hero_card:hover .hero_card_title {
  color: #0d1337;
}
.hero_content_wrapper .hero_card:hover .hero_card_desc {
  color: #0d1337;
}

@media screen and (max-width: 600px) {
  .hero {
    margin: 50px auto;
  }
  .hero_header {
    flex-direction: column;
    gap: 16px;
  }
  .hero_header_left, .hero_header_desc {
    width: 100%;
    font-size: 18px;
    text-align: center;
    gap: 22px;
  }
  .hero_header span {
    line-height: 3;
    font-size: 22px;
  }
  .hero_header h3 {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
  }
  .hero_content {
    flex-direction: column;
    gap: 11px;
  }
  .hero_content_wrapper {
    gap: 16px;
  }
  .hero .hero_card {
    padding: 20px;
  }
  .hero h2 {
    font-size: 20px;
    margin: 16px 0;
    text-align: center;
  }
  .hero p {
    font-size: 14px;
    text-align: center;
  }
  .hero .circle {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .hero .circle img {
    width: 40px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/* END HERO SECION *//*# sourceMappingURL=style.css.map */